<div class="container my-4">
    <mat-tab-group class="bg-light text-dark">
        <mat-tab  label="Length">

            <div class="container my-4">
                <div class="row">     
                  <div class="col-sm-8">
                    <div class="card">
                      <div class="card-header bg-secondary"><h1><b>STANDARD</b></h1></div>
                      <div class="card-body">
                        <!--input-->
                          <div class="mb-3 ">
                            <input type="text" value=""class="form-control">
                          </div>
                          <!--output-->
                          <div class="mb-3 ">
                            <input type="text" value="" class="form-control">
                          </div>
                          <!--type pad -->
                          <div class=" mt-2 ">
                            <button class="btn btn-outline-secondary text-dark col-3 rounded-pill" >C</button>
                            <button class="btn btn-outline-secondary text-dark col-3 rounded-pill" >x</button>
                            <button class="btn btn-outline-secondary text-dark col-3 rounded-pill" >MC</button>
                            <button class="btn btn-outline-secondary text-dark col-3 rounded-pill" >+</button>
                          </div>
                           <!--type pad -->
                           <div class=" mt-2">
                            <button class="btn btn-outline-secondary text-dark col-3 rounded-pill" >9</button>
                            <button class="btn btn-outline-secondary text-dark col-3 rounded-pill">8</button>
                            <button class="btn btn-outline-secondary text-dark col-3 rounded-pill" >7</button>
                            <button class="btn btn-outline-secondary text-dark col-3 rounded-pill" >-</button>
                          </div>
                           <!--type pad -->
                           <div class=" mt-2">
                            <button class="btn btn-outline-secondary text-dark col-3 rounded-pill" >6</button>
                            <button class="btn btn-outline-secondary text-dark col-3 rounded-pill" >5</button>
                            <button class="btn btn-outline-secondary text-dark col-3 rounded-pill" >4</button>
                            <button class="btn btn-outline-secondary text-dark col-3 rounded-pill" >x</button>
                          </div>
                           <!--type pad -->
                           <div class=" mt-2">
                            <button class="btn btn-outline-secondary text-dark col-3 rounded-pill" >3</button>
                            <button class="btn btn-outline-secondary text-dark col-3 rounded-pill" >2</button>
                            <button class="btn btn-outline-secondary text-dark col-3 rounded-pill" >1</button>
                            <button class="btn btn-outline-secondary text-dark col-3 rounded-pill" >/</button>
                          </div>
                           <!--type pad -->
                           <div class=" mt-2">
                            <button class="btn btn-outline-secondary text-dark col-3 rounded-pill" >.</button>
                            <button class="btn btn-outline-secondary text-dark col-3 rounded-pill" >0</button>
                            <button class="btn btn-outline-secondary text-dark btn-success col-6 rounded-pill" >=</button>
                          </div>
                         
                      </div>
                    </div>
                  </div>
                
                </div>
            
              </div>
        </mat-tab>
        <mat-tab label="Length"></mat-tab>
        <mat-tab label="Length"></mat-tab>
        <mat-tab label="Length"></mat-tab>
        <mat-tab label="Length"></mat-tab>
        <mat-tab label="Length"></mat-tab>
        <mat-tab label="Length"></mat-tab>
        <mat-tab label="Length"></mat-tab>
        <mat-tab label="Length"></mat-tab>
        <mat-tab label="Length"></mat-tab>
        <mat-tab label="Length"></mat-tab>
        <mat-tab label="Length"></mat-tab>
        <mat-tab label="Length"></mat-tab>

    </mat-tab-group>
</div>