<mat-sidenav-container class="sidenav-container bg-light">
  <mat-sidenav-content class="bg-b" >
    <mat-toolbar class="bg-dark text-light">
      <button
        type="button"
        aria-label="Toggle sidenav"
        mat-icon-button
        (click)="drawer.toggle()"
        (click)="app()">
        <mat-icon aria-label="Side nav toggle icon"> menu </mat-icon>
      </button>
      <h1> <b>CALCULATOR</b> </h1>
    </mat-toolbar >
    <!-- Add Content Here -->
    <div *ngIf="!showApp"> <app-standard></app-standard> </div>
  
    <router-outlet> </router-outlet>
  </mat-sidenav-content>
  <mat-sidenav #drawer class="sidenav bg-light" 
      [mode]="'side'"
      [opened]=" false">
    <mat-toolbar> MENU </mat-toolbar>
    <mat-nav-list>
      <a mat-list-item routerLink="/standard">STANDARD</a>
      <a mat-list-item routerLink="/"[disabled]="true">SCIENTIFIC <mat-icon>lock</mat-icon></a>
      <a mat-list-item routerLink="/age">AGE CALCULATOR</a>
      <a mat-list-item routerLink="/currency" [disabled]="true">CURRENCY CONVERTER <mat-icon>lock</mat-icon></a>
      <a mat-list-item routerLink="/converter" [disabled]="true">UNIT CONVERTER <mat-icon>lock</mat-icon></a>
      <a mat-list-item routerLink="/"[disabled]="true">PROGRAMMING <mat-icon>lock</mat-icon></a>
      <a mat-list-item routerLink="/"[disabled]="true">TAX CALCULATOR <mat-icon>lock</mat-icon></a>
      <a mat-list-item routerLink="/"[disabled]="true">EMI CALCULATOR <mat-icon>lock</mat-icon></a>
      
     
    </mat-nav-list>
  </mat-sidenav>
  
</mat-sidenav-container>
